body {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 background: #f2f2f2;
 display: flex;
 justify-content: center;
 align-items: center;
 min-height: 100vh; 
}

.container {
 background: white;
 width: 90%;
 max-width: 360px;
 border-radius: 20px;
 text-align: center;
}
